<div class="col-lg-12 col-md-12 col-sm-12">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <section class="ask-question">
                    <div class="row">
                        <br/>
                        <div>
                            <div>
                                <h4> <span class="fa fa-users"></span> Buy from these top seller around the world:</h4>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            No Users
                        </div>
                      <!--   <div class="row">
                            
                            <div class="ask-box active ">
                                <div class="col-sm-2 col-xs-3">
                                    <div class="ask-info text-left">
                                        <h4 class="text-white"><u>Mr. Devesh</u></h4>
                                        <h6 class="text-white">475+ trades</h6>
                                    </div>
                                </div>
                                <div class="col-sm-2 col-xs-3">
                                    <div class="ask-info text-left">
                                        <h4 class="text-white">Bank transfer</h4>
                                        <h6 class="text-white">“will be back @ 12 PM PST”</h6>
                                    </div>
                                </div>
                                <div class="col-sm-2 col-xs-3">
                                    <div class="ask-info text-left">
                                        <h4 class="text-white">Mumbai</h4>
                                        <h6 class="text-white">India</h6>
                                    </div>
                                </div>
                                <div class="col-sm-2 col-xs-3">
                                    <div class="ask-info text-left">
                                        
                                        <h5 class="text-white">10.0K to 500.0K</h5>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-xs-12">
                                    <div class="thm-btn">
                                        <h5 class="text-white">BUY @</h5>
                                        <h4 class="text-white">INR 80.58K</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            
                            <div class="ask-box active ">
                                <div class="col-sm-2 col-xs-3">
                                    <div class="ask-info text-left">
                                        <h4 class="text-white"><u>Mr. Devesh</u></h4>
                                        <h6 class="text-white">475+ trades</h6>
                                    </div>
                                </div>
                                <div class="col-sm-2 col-xs-3">
                                    <div class="ask-info text-left">
                                        <h4 class="text-white">Bank transfer</h4>
                                        <h6 class="text-white">“will be back @ 12 PM PST”</h6>
                                    </div>
                                </div>
                                <div class="col-sm-2 col-xs-3">
                                    <div class="ask-info text-left">
                                        <h4 class="text-white">Mumbai</h4>
                                        <h6 class="text-white">India</h6>
                                    </div>
                                </div>
                                <div class="col-sm-2 col-xs-3">
                                    <div class="ask-info text-left">
                                        
                                        <h5 class="text-white">10.0K to 500.0K</h5>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-xs-12">
                                    <div class="thm-btn">
                                        <h5 class="text-white">BUY @</h5>
                                        <h4 class="text-white">INR 80.58K</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            
                            <div class="ask-box active ">
                                <div class="col-sm-2 col-xs-3">
                                    <div class="ask-info text-left">
                                        <h4 class="text-white"><u>Mr. Devesh</u></h4>
                                        <h6 class="text-white">475+ trades</h6>
                                    </div>
                                </div>
                                <div class="col-sm-2 col-xs-3">
                                    <div class="ask-info text-left">
                                        <h4 class="text-white">Bank transfer</h4>
                                        <h6 class="text-white">“will be back @ 12 PM PST”</h6>
                                    </div>
                                </div>
                                <div class="col-sm-2 col-xs-3">
                                    <div class="ask-info text-left">
                                        <h4 class="text-white">Mumbai</h4>
                                        <h6 class="text-white">India</h6>
                                    </div>
                                </div>
                                <div class="col-sm-2 col-xs-3">
                                    <div class="ask-info text-left">
                                        
                                        <h5 class="text-white">10.0K to 500.0K</h5>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-xs-12">
                                    <div class="thm-btn">
                                        <h5 class="text-white">BUY @</h5>
                                        <h4 class="text-white">INR 80.58K</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            
                            <div class="ask-box active ">
                                <div class="col-sm-2 col-xs-3">
                                    <div class="ask-info text-left">
                                        <h4 class="text-white"><u>Mr. Devesh</u></h4>
                                        <h6 class="text-white">475+ trades</h6>
                                    </div>
                                </div>
                                <div class="col-sm-2 col-xs-3">
                                    <div class="ask-info text-left">
                                        <h4 class="text-white">Bank transfer</h4>
                                        <h6 class="text-white">“will be back @ 12 PM PST”</h6>
                                    </div>
                                </div>
                                <div class="col-sm-2 col-xs-3">
                                    <div class="ask-info text-left">
                                        <h4 class="text-white">Mumbai</h4>
                                        <h6 class="text-white">India</h6>
                                    </div>
                                </div>
                                <div class="col-sm-2 col-xs-3">
                                    <div class="ask-info text-left">
                                        
                                        <h5 class="text-white">10.0K to 500.0K</h5>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-xs-12">
                                    <div class="thm-btn">
                                        <h5 class="text-white">BUY @</h5>
                                        <h4 class="text-white">INR 80.58K</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            
                            <div class="ask-box active ">
                                <div class="col-sm-2 col-xs-3">
                                    <div class="ask-info text-left">
                                        <h4 class="text-white"><u>Mr. Devesh</u></h4>
                                        <h6 class="text-white">475+ trades</h6>
                                    </div>
                                </div>
                                <div class="col-sm-2 col-xs-3">
                                    <div class="ask-info text-left">
                                        <h4 class="text-white">Bank transfer</h4>
                                        <h6 class="text-white">“will be back @ 12 PM PST”</h6>
                                    </div>
                                </div>
                                <div class="col-sm-2 col-xs-3">
                                    <div class="ask-info text-left">
                                        <h4 class="text-white">Mumbai</h4>
                                        <h6 class="text-white">India</h6>
                                    </div>
                                </div>
                                <div class="col-sm-2 col-xs-3">
                                    <div class="ask-info text-left">
                                        
                                        <h5 class="text-white">10.0K to 500.0K</h5>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-xs-12">
                                    <div class="thm-btn">
                                        <h5 class="text-white">BUY @</h5>
                                        <h4 class="text-white">INR 80.58K</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="thm-btn col-sm-12">
                                    <p class="text-white">View more sellers <span class="fa fa-paper-plane"></span></p>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </section>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <section class="ask-question">
                    <div class="row">
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <div>
                            <div>
                                <h4><span class="fa fa-users"></span> Sell to these top buyers around the world:</h4>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                          No Users
                        </div>
                       <!--  <div class="row">
                            
                            <div class="ask-box active ">
                                <div class="col-sm-2">
                                    <div class="ask-info text-left">
                                        <h3 class="text-white"><u>Mr. Devesh</u></h3>
                                        <h6 class="text-white">475+ trades</h6>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="ask-info text-left">
                                        <h3 class="text-white">Bank transfer</h3>
                                        <h6 class="text-white">“will be back @ 12 PM PST”</h6>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="ask-info text-left">
                                        <h3 class="text-white">Mumbai</h3>
                                        <h6 class="text-white">India</h6>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="ask-info text-left">
                                       
                                        <h5 class="text-white">10.0K to 500.0K</h5>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="thm-btn">
                                        <h5 class="text-white">SELL @</h5>
                                        <h4 class="text-white">INR 80.58K</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            
                            <div class="ask-box active ">
                                <div class="col-sm-2">
                                    <div class="ask-info text-left">
                                        <h3 class="text-white"><u>Mr. Devesh</u></h3>
                                        <h6 class="text-white">475+ trades</h6>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="ask-info text-left">
                                        <h3 class="text-white">Bank transfer</h3>
                                        <h6 class="text-white">“will be back @ 12 PM PST”</h6>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="ask-info text-left">
                                        <h3 class="text-white">Mumbai</h3>
                                        <h6 class="text-white">India</h6>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="ask-info text-left">
                                       
                                        <h5 class="text-white">10.0K to 500.0K</h5>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="thm-btn">
                                        <h5 class="text-white">SELL @</h5>
                                        <h4 class="text-white">INR 80.58K</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            
                            <div class="ask-box active ">
                                <div class="col-sm-2">
                                    <div class="ask-info text-left">
                                        <h3 class="text-white"><u>Mr. Devesh</u></h3>
                                        <h6 class="text-white">475+ trades</h6>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="ask-info text-left">
                                        <h3 class="text-white">Bank transfer</h3>
                                        <h6 class="text-white">“will be back @ 12 PM PST”</h6>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="ask-info text-left">
                                        <h3 class="text-white">Mumbai</h3>
                                        <h6 class="text-white">India</h6>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="ask-info text-left">
                                       
                                        <h5 class="text-white">10.0K to 500.0K</h5>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="thm-btn">
                                        <h5 class="text-white">SELL @</h5>
                                        <h4 class="text-white">INR 80.58K</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            
                            <div class="ask-box active ">
                                <div class="col-sm-2">
                                    <div class="ask-info text-left">
                                        <h3 class="text-white"><u>Mr. Devesh</u></h3>
                                        <h6 class="text-white">475+ trades</h6>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="ask-info text-left">
                                        <h3 class="text-white">Bank transfer</h3>
                                        <h6 class="text-white">“will be back @ 12 PM PST”</h6>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="ask-info text-left">
                                        <h3 class="text-white">Mumbai</h3>
                                        <h6 class="text-white">India</h6>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="ask-info text-left">
                                       
                                        <h5 class="text-white">10.0K to 500.0K</h5>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="thm-btn">
                                        <h5 class="text-white">SELL @</h5>
                                        <h4 class="text-white">INR 80.58K</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            
                            <div class="ask-box active ">
                                <div class="col-sm-2">
                                    <div class="ask-info text-left">
                                        <h3 class="text-white"><u>Mr. Devesh</u></h3>
                                        <h6 class="text-white">475+ trades</h6>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="ask-info text-left">
                                        <h3 class="text-white">Bank transfer</h3>
                                        <h6 class="text-white">“will be back @ 12 PM PST”</h6>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="ask-info text-left">
                                        <h3 class="text-white">Mumbai</h3>
                                        <h6 class="text-white">India</h6>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="ask-info text-left">
                                       
                                        <h5 class="text-white">10.0K to 500.0K</h5>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="thm-btn">
                                        <h5 class="text-white">SELL @</h5>
                                        <h4 class="text-white">INR 80.58K</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="thm-btn col-sm-12">
                                    <p class="text-white">View more buyers <span class="fa fa-paper-plane"></span></p>
                                </div>
                            </div>
                        </div> -->
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                    </div>
                </section>
            </div>
            
        </div>